body {
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;

}

.container {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px;
    width: 400px;
    max-width: 100%;
}

.header {
    background-color: white;
    border-bottom: 1px solid black;
    padding: 20px 40px;
    width: 100%;

}

.header h2 {
    margin: 0;
    width: auto;
}

.form {
    padding: 30px 40px;
}

.form-control {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.form-control label {
    display: inline-block;
    margin-bottom: 5px;
}

.form-control input {
    border: 2px solid;
    border-radius: 4px;
    display: block;
    font-size: 14px;
    width: 100%;
    padding: 10px;
}

select {
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 15px;

}

.btn-secondary {
    color: black;
    background-color: aquamarine;
    margin-bottom: 15px;
    
    width: 100%;
}

.form-control i {
    visibility: hidden;
    position: absolute;
    top: 40px;
    right: 10px;

}

.form-control.success input {
    border-color: #2ecc71;
}

.form-control.success i.fa-check-circle {
    visibility: visible;
    color: #2ecc71;
}
.form-control.error input {
    border-color: red;
}
.form-control.error i.fa-exclamation-circle {
    visibility: visible;
    color:red;

}

.form-control small {
    visibility: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
}